/* General CSS */
*{
    box-sizing: border-box;
    border: 1px solid red;
    margin: 0;
}
body{
    background-color: #daceb593;
    font-family: "Sono", monospace;
    font-weight: 400;    
}

 h2{
    font-size: 2rem;
    margin: 1.5rem;
    color: #737089;
 }

 h3, h4, h5, p, li{
    margin: 0.5rem 0;
}

.container{
    width: 67%;
    margin: auto;
}

/* Easter egg - i footer */
.easter-egg1{
    background-color: #B6D1E7;
}

/* Navigation menu */
nav{
    display: flex;
    justify-content: flex-end;
    gap: 0.3rem;    
    padding: 1.5rem;     
}

nav a{
    display: inline-block;
    color: #737089;
    font-size: 1.2rem;
    padding: 0.5rem; 
    text-decoration: none;
    font-weight: 500;    
    letter-spacing: 0.1rem;
    border-bottom: 2px solid transparent;
    transition: transform 0.4s ease, border-bottom 0.4s ease;    
}

   
nav a:hover, .btn:hover{    
    transform: scale(1.1);    
}

.modal-close:hover{    
    transform: scale(1.2);    
}

nav a:active, .btn:active{    
    transform: scale(0.9);    
}

.modal-close:active{    
    transform: scale(0.8);    
}

.active{
    border-bottom: 2px solid #dec091;
}

/* Storskärm */
@media (min-width: 1800px) {
   .container{
    width: 50%;    
} 
}

/* Mellanskärm*/
@media (max-width: 1024px){
nav{   
    margin-right: 0;    
}
.container{
    width: 85%;    
    } 

.flex-card{
     flex-direction: column;    
}

.years{
    margin:0;    
}

.cv-kurser h4{    
    width: 100%;
    }  

}

/* Mobil */
@media (max-width: 767px){
    .container{
    width: 85%;    
    } 
   
    .modal-content{
        grid-template-columns: 1fr;
        gap: 1rem;
    }

   
    .cv, .about-me, .short-facts{
        display: flex;
        flex-direction: column;        
    }

    .about-me{
        align-items: center;
    }

    .cv-kontakt, .cv-profil,.cv-utbildning, .cv-arbete, .cv-teknik, .cv-kurser{
        border-left: none;
        border-bottom: 1px solid #b4c0cd;
    }  
   
}
/* Utskrift */
@media print {
    body {
    visibility: hidden;
    background-color: white;
    color: black;  
    font-family: Georgia, Times, serif; 
    }

    #cv, #portfolio, #about-me {
    visibility: visible;   
    position: static;   
    width: 100%;   
    }

    .cv{
        display: block;
    }

    .cv-item{
        break-inside: avoid;
       
    }

     .cv-utbildning{
        break-after: always;
    }

    h2{
        font-size: 32pt;
    }

    p {  
        font-size: 12pt;    
    }  

    /* om bara har github/linkedin utan länk på webbsida */
    .a-print::after{
        content: ": " attr(href);
    } 
}

@page {
    size: A4 portrait;
    margin: 2cm;
}



